<%- include('partials/header') -%>

    <h1>Home</h1>
    <p><%= startingContent %></p>

    <!-- New Post -->
   <% posts.forEach(function(post){%>
    <h1><%= post.titleTxt%></h1>
    <p><%= post.bodyTxt%></p>
   <% }) %>

<%- include("partials/footer")-%>